<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input [(ngModel)]="electrodomestico.nombre"></ion-input>
  </ion-item>,

  <ion-item>
    <ion-label position="floating">Marca</ion-label>
    <ion-input [(ngModel)]="electrodomestico.marca"></ion-input>
  </ion-item>,

  <ion-item>
    <ion-label position="fixed">Precio</ion-label>
    <ion-input [(ngModel)]="electrodomestico.precio"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Color</ion-label>
    <ion-input [(ngModel)]="electrodomestico.color"></ion-input>
  </ion-item>
  
  <ion-button expand="block" (click)="guardar()">Guardar</ion-button>
  
</ion-content>
